<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="st1" class="org.example.Student">
        <property name="writer" ref="p3"/>
    </bean>
    <bean id="st2" class="org.example.Student">
    </bean>

    <bean id="p1" class="org.example.Pen">
    </bean>
    <bean id="p2" class="org.example.Pencil">
    </bean>
    <bean id="p3" class="org.example.Sketch">
    </bean>


</beans>
